* {
    box-sizing: border-box;
}

body {
    background-image: url("./assets/images/bg.png");
}

#gameName {  
    float: right;
    margin-right: 17%;
}

.r1c1, .r1c2, .r1c4 {
    max-width: 9%;
    text-align: center;
    border: aqua solid 2px;
    background: white;
}

.r1c3 {
    max-width: 11%;
    text-align: center;
    border: aqua solid 2px;
    background: white;
}

.r1c1 {
    margin-left: 2%;
}

.r2c1 {
    
    margin-left: 2%;
    max-width: 10%;
    text-align: center;
    background: purple;
}

.r3c1, .r3c2, .r3c3 {
    margin-left: 2%;
    max-width: 10%;
    text-align: center;
    background: gray;
}














