* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/bg.png");
}

.titleHere {
    color: aqua;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-family: 'Chicle', cursive;
    font-size: 60px;
    margin-top: 2%;
    text-align: center;
    height: 150px;
    margin: auto;
    padding-top: 1.5%;
    background-image: url("../images/headerBg.png");
    border-radius: 12px;
}

.infoDiv {
    margin: .5% auto .5% auto;
    background: white;
    font-size: 20px;
    border: solid 1px darkblue;
    border-radius: 30px;
    padding-left: 2%;
    padding-right: 2%;
    width: 95%;
}

/*
.yourStats{
    text-align: center;
    color: aqua;
    font-size: 16px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: white;
    border-radius: 10px;
}

.defenderStats {
    text-align: center;
    color: aqua;
    font-size: 16px;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    background-color: white;
    border-radius: 10px;
}
*/

.flash {
    text-align: center;
    width: 80%;
    font-size: 18px;
    background-color: white;
    border: solid 1px red;
    animation: blink 1.3s step-end infinite alternate;
    display: block;
    border-radius: 50px;
    margin: 19% auto 0 auto;
}

@keyframes blink { 
    50% { border-color: yellow; } 
}

.chooseFlasher {
    margin-left: auto;
    margin-right: auto;
}

.pos1 {
    float: left;  
    text-align: center;
    background: white;
    border: solid 1px aqua;
    border-radius: 10px;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}

.position1 {
    margin-bottom: 2%;
}

.pos2 {
    float: left;  
    text-align: center;
    background: yellow;
    border: solid 1px red;
    border-radius: 10px;
    display: block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-left: 12.5%;
    cursor: pointer;  
}

.defender {
    margin-left: -2.5%;
    margin-top: 1%; 
}

.attackButton {
    font-size: 22px;
    background-color: red;
    color: yellow;
    border: solid 1px yellow;
    border-radius: 20px;
    text-align: center;
    width: 30%;
    margin: 13% 0 0 70%;
    cursor: pointer;
}

.resetButton {
    position: absolute;
    text-align: center;
    font-size: 22px;   
    margin-top: -36%;
    background-color: darkblue;
    color: white;
    width: 150px;
    height: 40px;
    border: 1px solid white;
    border-radius: 44px;
    cursor: pointer;
}
