* {
    box-sizing: border-box;
}

body {
    background-image: url("../images/bg.png");
}

#gameName {  
    margin-top: -6.5%;
    position: fixed; 
    right: 0;
    float: right;
    margin-right: 17%;
    color: aqua;
    text-shadow: 2px 2px 8px black;
}

.chooseYou {
    margin: .5% 0 0 12%;
}

h4 {
    color: aqua;
    text-shadow: 2px 2px 8px black;
}

h6, h7 {
    color: rgb(117, 115, 115);
    text-shadow: 2px 2px 26px rgb(208, 80, 240);
}

.r1c1, .r1c2, .r1c3, .r1c4 {
    max-width: 9%;
    text-align: center;
    border: aqua solid 2px;
    background: white;
}

.r1c1 {
    margin-left: 3%;
}

.r2c1 {
    
    margin-left: 3%;
    max-width: 10%;
    text-align: center;
   
}

.r3c1, .r3c2, .r3c3 {
    max-width: 9.5%;
    text-align: center;
}

.r3c1 {
    margin-left: 3%;
}

h4 {
    margin-left: 2%;
}

button {
    margin-left: 2%;
}

.r4c1 {
    text-align: center;
    margin-left: 4%;
    margin-bottom: 4%;
}

.pos3 {
    margin-top: 18%;
}

.btn {
    margin-left: 13%;
    margin-top: 6%;
}

.attack {
    margin-left: 13%;
    margin-top: -9%;
}

.reset {

    margin-left: 3%;
    margin-top: 1%;
    margin-bottom: .5%;
}

p {
    margin-top: 2%;
    margin-left: 3%;
    background: aqua;
    color: black;
    text-shadow: 2px 2px 8px white;
    width: 43%;
}


